<h2>My Documents</h2>
<table class="dashboard_table">
  <% if @my_documents.any? %>
      <tr class="dashboard_divider">
        <td colspan="3"></td>
      </tr>
      <% @my_documents.each do |doc| %>
          <tr>
            <td class="document_name"><%= link_to doc.name, "/view_pad/#{doc.id}" %></td>
            <td class="document_created"><%= doc.created_at %></td>
            <td class="document_actions"><%= link_to 'Delete', doc, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
          <tr class="dashboard_divider">
            <td colspan="3"></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td><span style="font-style: italic; font-size: 12pt;">You have no Documents</span></td>
      </tr>
  <% end %>
</table>

<p id="new_document_link">
<%= link_to 'New Document', new_document_path %>
</p>

<h2>Shared Documents</h2>
<table class="dashboard_table">
  <% if @shared_documents.any? %>
      <tr class="dashboard_divider">
        <td colspan="3"></td>
      </tr>
      <% @shared_documents.each do |doc| %>
          <tr>
            <td class="document_name"><%= link_to doc.name, "/view_pad/#{doc.id}" %></td>
            <td class="document_owner"><%= doc.owner.name %></td>
            <td class="document_created"><%= doc.created_at %></td>
          </tr>
          <tr class="dashboard_divider">
            <td colspan="3"></td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td><span style="font-style: italic; font-size: 12pt;">You have no Shared Documents</span></td>
      </tr>
  <% end %>
</table>