<script type="text/javascript">
    jQuery(document).ready(function() {

        $("#search-tabs").tabs();

        $('#search_form').bind('ajax:before', function() {
            resetAdvancedSearch();
            $("#advanced_query").val($("#query").val());
            $("#advanced_search_dialog").dialog("open");
            $('#ajax_loading').show();
        });

        $('#advanced_search_form').bind('ajax:before', function() {
            $('#advanced_search_results').empty();
            $('#ajax_loading').show();
        });

        $('#search_form').bind('ajax:success', function(evt, data, status, xhr) {
            $('#ajax_loading').hide();
            $('#advanced_search_results').html(xhr.responseText);
        });

        $('#search_form').bind('ajax:error', function(evt, xhr, status, error) {
            $('#ajax_loading').hide();
        });

        $('#advanced_search_form').bind('ajax:success', function(evt, data, status, xhr) {
            $('#ajax_loading').hide();
            $('#advanced_search_results').html(xhr.responseText)
        });

        $('#advanced_search_form').bind('ajax:error', function(evt, xhr, status, error) {
            $('#ajax_loading').hide();
        });

        $('#google_search_form').bind('ajax:before', function() {
            $('#google_search_results').empty();
            $('#ajax_loading').show();
        });

        $('#google_search_form').bind('ajax:success', function(evt, data, status, xhr) {
            $('#ajax_loading').hide();
            $('#google_search_results').html(xhr.responseText)
        });

        $('#google_search_form').bind('ajax:error', function(evt, xhr, status, error) {
            $('#ajax_loading').hide();
        });
    });
</script>

<%= form_tag('/search/keyword', :remote => true, :id => 'search_form', :method => :get, 'data-type' => 'html', :format => :html) do %>
    <%= text_field_tag :query, params[:query], :size => 15 %>
    <%= hidden_field_tag :search_type, 'keyword' %>
    <%= submit_tag "Go" %>
<% end %>
<a href="#" id="advanced_search_link">Advanced Search</a>
<br/>
<div id="advanced_search_dialog" style="display: none;">
  <div id="search-tabs">
    <ul style="border: none">
      <li><a href="#search-tabs-1">LibraryCloud</a></li>
      <li><a href="#search-tabs-2">Google Scholar</a></li>
    </ul>
    <div id="search-tabs-1">
      <%= form_tag('/search/advanced', :remote => true, :id => 'advanced_search_form', :method => :get, 'data-type' => 'html', :format => :html) do %>
          <%= label_tag "Query:" %>
          <div>
            <%= text_field_tag :query, params[:query], :id => 'advanced_query', :size => 50 %>
            <%= select_tag :search_type, "<option value='keyword'>Keyword</option>
                                        <option value='title_exact'>Exact Title</option>
                                        <option value='creator_exact'>Exact Creator</option>
                                        <option value='desc_subject_exact'>Exact Subject</option>
                                        <option value='title_keyword'>Title Keyword</option>
                                        <option value='creator_keyword'>Creator Keyword</option>
                                        <option value='desc_subject_keyword'>Subject Keyword</option>
                                        <option value='id_isbn'>Exact ISBN</option>
                                        <option value='id_lccn'>Exact LCCN</option>
                                        <option value='id_oclc'>Exact OCLN</option>".html_safe, :id => "advanced_search_type" %>
            <% for i in (1..3) %>
                <a href="#" id="add_filter<%= i %>">Add Filter</a>
                </div>
                <div id="filter<%= i %>_div" style="display:none;">
                  <%= label_tag "Filter:" %>
                  <br/>
                  <%= text_field_tag "filter#{i}", params["filter#{i}"], :id => "advanced_filter#{i}", :size => 50 %>
                  <%= select_tag "filter#{i}_type", "<option value='keyword'>Keyword</option>
                                                <option value='title_exact'>Exact Title</option>
                                                <option value='creator_exact'>Exact Creator</option>
                                                <option value='desc_subject_exact'>Exact Subject</option>
                                                <option value='title_keyword'>Title Keyword</option>
                                                <option value='creator_keyword'>Creator Keyword</option>
                                                <option value='desc_subject_keyword'>Subject Keyword</option>
                                                <option value='id_isbn'>Exact ISBN</option>
                                                <option value='id_lccn'>Exact LCCN</option>
                                                <option value='id_oclc'>Exact OCLN</option>".html_safe %>
            <% end %>
            </div>
            <br/>
            <%= submit_tag "Reset", :type => "reset", :onclick => "resetAdvancedSearch()" %>
            <%= submit_tag "Search" %>
            <%= hidden_field_tag :limit, params[:limit] || 25 %>
            <%= hidden_field_tag :start, params[:start] || 0 %>
            <%= hidden_field_tag :sort, params[:sort] || nil %>
            <div style="margin-top:10px">
                <div id="advanced_search_results"></div>
            </div>
      <% end %>
    </div>
    <div id="search-tabs-2">
      <%= form_tag('/search/google', :id => "google_search_form", :remote => true, :method => :get, 'data-type' => 'html', :format => :html) do %>
          <%= text_field_tag :query, params[:query], :size => 75 %>
          <%= submit_tag "Search" %>
          <%= submit_tag "Reset", :type => "reset", :onclick => "resetGoogleSearch()" %>
          <%= hidden_field_tag :limit, (params[:limit] || 25), :id => :google_limit %>
          <%= hidden_field_tag :start, (params[:start] || 0), :id => :google_start %>
          <div style="margin-top:10px">
            <div id="google_search_results"></div>
          </div>
      <% end %>
    </div>
  </div>
  <div id="ajax_loading" style="display: none; width: 100%; text-align: center"><img src="/static/img/ajax-loader.gif" alt="Loading..."></div>

</div>
<script>
    function recommend_resource_by_id(item_id) {
        $.post('/documents/<%= @document.id %>/resources', { "item_id":item_id}, function(data) {
            // TODO change "Recommend" link to a "Recommended" text
            // TODO refresh the RecommendedResources partial (if it exists on this page)
        });
        return false;
    }

    function recommend_resource_by_properties(json) {
        $.post('/documents/<%= @document.id %>/resources', {"item" : json}, function(data) {
            // TODO change "Recommend" link to a "Recommended" text
            // TODO refresh the RecommendedResources partial (if it exists on this page)
        });
        return false;
    }

    function resetAdvancedSearch() {
        $("#filter1_div").hide();
        $("#filter2_div").hide();
        $("#filter3_div").hide();
        $("#add_filter1").show();
        $("#add_filter2").show();
        $("#add_filter3").show();
        $("#advanced_filter1").val("");
        $("#advanced_filter2").val("");
        $("#advanced_filter3").val("");

        $("#advanced_search_type").val("keyword");
        $("#filter1_type").val("keyword");
        $("#filter2_type").val("keyword");
        $("#filter3_type").val("keyword");

        $('#advanced_search_results').empty();
        $("#start").val(0);
        $("#limit").val(25);
        $("#sort").removeAttr("value");
        
        $("#search-tabs").tabs( "option", "selected", 0 );
    }

    function resetGoogleSearch() {
        $("#google_start").val(0);
        $("#google_limit").val(25);
        $('#google_search_results').empty();
        $("#search-tabs").tabs( "option", "selected", 1 );
        return false;
    }

    $(function() {
        $("#advanced_search_link").click(function() {
            $("#advanced_search_dialog").dialog("open");
            return false;
        });

        <% for i in (1..3) %>
        $("#add_filter<%= i %>").click(function() {
            $("#add_filter<%= i %>").hide();
            $("#filter<%= i %>_div").show();
            return false;
        });
        <% end %>

        $("#advanced_search_dialog").dialog({
            title: "Advanced Search",
            autoOpen: false,
            height: 500,
            width: 750,
            modal: true,
            buttons: {
                "Close": function() {
                    $(this).dialog("close");
                }
            }
        });
    });
</script>