<% if searchresults.nil? || searchresults.length == 0 %>

    <p>Sorry! No resources found...</p>

<% elsif params[:query] == "" %>

    <p>You must enter a search term.</p>

<% else %>
    <style type="text/css">
        table#search_results {
            width: 100%;
        }

        table#search_results th {
            text-align: left;
        }

        table#search_results td.title {
            font-style: italic;
            max-width: 325px;
        }

        table#search_results td.info {
            padding-right: 20px;
        }

        table#search_results hr {
            margin: 5px 0 5px 0;
        }

        #results_count {
            margin-bottom: 5px;
            color: #777777;
            font-style: italic;
        }
    </style>
    <div id="results_count">
      <%= "Showing #{searchresults.size} of #{num_found} result#{"s" unless num_found == 1} " %>
    </div>
    <table id="search_results">
      <tr>
        <th class="title">Title</th>
        <th>Creator</th>
        <th>Links</th>
        <th></th>
      </tr>
      <% for r in searchresults %>
          <tr>
            <td colspan="4">
              <hr/>
            </td>
          </tr>
          <tr class="item">
            <td class="title info">
              <%= r['title'] %>
            </td>
            <td class="info">
              <%= r['creator'].first if r['creator'] %>
            </td>
            <td class="info">
              <% if r['id_inst'] and r['id_inst'].strip != "" %>
                  <%= link_to "Hollis", item_link(r['id_inst']), :target => "_blank" %>
              <% end %>
            </td>
            <td>
              <button id="recommend_<%= r['id'] %>">+</button>
              <script>
                  $("#recommend_<%= r['id'] %>").click(function() {
                      recommend_resource("<%= r['id'] %>");
                      window.location.reload();
                      return false;
                  })
              </script>
            </td>
            <td colspan="2"></td>
          </tr>
      <% end %>
    </table>
<% end %>