<% if searchresults.nil? || searchresults.length == 0 %>

    <p>Sorry! No resources found...</p>

<% elsif params[:query] == "" %>

    <p>You must enter a search term.</p>

<% else %>
    <style type="text/css">
        table.search_results {
            width: 100%;
        }

        table.search_results th {
            text-align: left;
        }

        table.search_results td.title {
            font-style: italic;
            max-width: 325px;
            vertical-align: top;
        }

        table.search_results td.info {
            padding-right: 20px;
            vertical-align: top;
        }

        table.search_results hr {
            margin: 5px 0 5px 0;
        }

        .search_results_count {
            float: left;
            margin-bottom: 5px;
            color: #777777;
            font-style: italic;
        }

        .search_prev_next {
            float: right;
            color: #777777;
        }

        .search_prev_next a {
            color: #777777;
        }

        .search_results tr.details {
            display: none;
        }

        .search_results tr.details td {
            padding-top: 10px;
            color: #777777;
        }

        .search_results tr.details td p {
            margin: 10px 0 10px 0;
        }

        .search_results tr.details td p a {
            color: #388EB4;
        }
    </style>
    <div class="search_results_count">
      Showing
      <%= "#{"#{start+1} to " if num_found != searchresults.size}#{searchresults.size + start}" %>
      <% unless num_found.nil? or num_found < 0 %>
        <%= "of #{num_found} result#{"s" unless num_found == 1}" %>
      <% end %>
      &nbsp;
    </div>
    <div class="search_prev_next">
      <% if start == 0 %>
          << <
      <% else %>
          <a href="#" id="search_results_start"><<</a>
          <a href="#" id="search_results_prev"><</a>
          <script type="text/javascript">
              $("#search_results_start").click(function() {
                  $(this).closest("form").children("input[name='start']").val(0);
                  $(this).closest('form').submit();
                  return false;
              });
              $("#search_results_prev").click(function() {
                  $(this).closest("form").children("input[name='start']").val(<%= start-limit %>);
                  $(this).closest('form').submit();
                  return false;
              });
          </script>
      <% end %>
      |
      <% if num_found == searchresults.size + start %>
          >
      <% else %>
          <a href="#" id="search_results_next">></a>
          <script type="text/javascript">
              $("#search_results_next").click(function() {
                  $(this).closest("form").children("input[name='start']").val(<%= start+limit %>);
                  $(this).closest('form').submit();
                  return false;
              });
          </script>
      <% end %>
    </div>
    <table class="search_results">
      <tr>
        <th>
          <% if sortable %>
              <a href="#" id="search_results_sort_by_title">Title</a>
          <% else %>
              Title
          <% end %>
        </th>
        <th>
          <% if sortable %>
              <a href="#" id="search_results_sort_by_creator">Creator</a>
          <% else %>
              Creator
          <% end %>
        </th>
        <th>Links</th>
        <th></th>
      </tr>
      <% for r in searchresults %>
          <tr>
            <td colspan="4">
              <hr/>
            </td>
          </tr>
          <tr class="item">
            <td class="title info">
              <a href="#" onclick="return titleClick('<%= r.object_id %>')"><%= r['title'] %></a>
            </td>
            <td class="info">
              <%= r['creator'].first if r['creator'] %>
            </td>
            <td class="info">
              <% r['links'].each do |link| %>
                  <%= link_to link[0], link[1], :target => "_blank" %>
              <% end %>
            </td>
            <td>
            </td>
          </tr>
          <tr class="details" id="details_<%= r.object_id %>">
            <td colspan="3">
              <% unless r['desc_subject'].nil? %>
                  <%= r['desc_subject'] %>
              <% else %>
                  No Description
              <% end %>
              <p>
                <% if r['id'] %>
                    <a href="#" onclick="return recommendClick('<%= r['id'] %>')">Recommend</a>
                <% end %>
              </p>
            </td>
          </tr>
      <% end %>
    </table>
    <script type="text/javascript">
      $("#search_results_sort_by_title").click(function() {
          $(this).closest("form").children("input[name='start']").val(0);
          $(this).closest("form").children("input[name='sort']").val("title");
          $(this).closest('form').submit();
          return false;
      });
      $("#search_results_sort_by_creator").click(function() {
          $(this).closest("form").children("input[name='start']").val(0);
          $(this).closest("form").children("input[name='sort']").val("creator");
          $(this).closest('form').submit();
          return false;
      });
    </script>

<% end %>

<script type="text/javascript">
    function titleClick(i) {
        $("#details_" + i).toggle();
        return false;
    }

    function recommendClick(id) {
        recommend_resource(id);
        window.location.reload();
        return false;
    }
</script>