<% if searchresults.nil? || searchresults.length == 0 %>

    <p>Sorry! No resources found...</p>

<% elsif params[:query] == "" %>

    <p>You must enter a search term.</p>

<% else %>
    <% for r in searchresults %>
        <p>
          <b>Title:</b>
          <%= r['title'] %>
        </p>
        <p>
          <b>Creator:</b>
          <%= r['creator'].first if r['creator'] %>
        </p>
        <p>
          <b>Links:</b>
          <% if r['id_inst'] and r['id_inst'].strip != "" %>
            <%= link_to "Hollis", item_link(r['id_inst']), :target => "_blank" %>
          <% end %>
        </p>
        <p>
          <a href="#" id="recommend_<%= r['id'] %>">Recommend</a>

          <script>
            $("#recommend_<%= r['id'] %>").click(function() {
                recommend_resource("<%= r['id'] %>");
                window.location.reload();
                return false;
            })
          </script>
        </p>
        <br/>
        <hr/>
        <br/>
    <% end %>
<% end %>