<% if searchresults.nil? || searchresults.length == 0 %>

    <p>Sorry! No resources found...</p>

<% elsif params[:query] == "" %>

    <p>You must enter a search term.</p>

<% else %>
    <style type="text/css">
        table.search_results {
            width: 100%;
        }

        table.search_results th {
            text-align: left;
        }

        table.search_results td.title {
            font-style: italic;
            max-width: 325px;
        }

        table.search_results td.info {
            padding-right: 20px;
        }

        table.search_results hr {
            margin: 5px 0 5px 0;
        }

        .search_results_count {
            float: left;
            margin-bottom: 5px;
            color: #777777;
            font-style: italic;
        }

        .search_prev_next {
            float: right;
            color: #777777;
        }

        .search_prev_next a {
            color: #777777;
        }
    </style>
    <div class="search_results_count">
      Showing
      <%= "#{"#{start+1} to " if num_found != searchresults.size}#{searchresults.size + start}" %>
      <%= " of #{num_found} result#{"s" unless num_found == 1}" %>
    </div>
    <div class="search_prev_next">
      <% if start == 0 %>
          << <
      <% else %>
          <a href="#" id="search_results_start"><<</a>
          <a href="#" id="search_results_prev"><</a>
          <script type="text/javascript">
              $("#search_results_start").click(function() {
                  $("#start").val(0);
                  $("#advanced_search_form").submit();
                  return false;
              });
              $("#search_results_prev").click(function() {
                  $("#start").val(<%= start-limit %>);
                  $("#advanced_search_form").submit();
                  return false;
              });
          </script>
      <% end %>
      |
      <% if num_found == searchresults.size + start %>
          >
      <% else %>
          <a href="#" id="search_results_next">></a>
          <script type="text/javascript">
              $("#search_results_next").click(function() {
                  $("#start").val(<%= start+limit %>);
                  $("#advanced_search_form").submit();
                  return false;
              });
          </script>
      <% end %>
    </div>
    <table class="search_results">
      <tr>
        <th><a href="#" id="search_results_sort_by_title">Title</a></th>
        <th><a href="#" id="search_results_sort_by_creator">Creator</a></th>
        <th>Links</th>
        <th></th>
      </tr>
      <% for r in searchresults %>
          <tr>
            <td colspan="4">
              <hr/>
            </td>
          </tr>
          <tr class="item">
            <td class="title info">
              <%= r['title'] %>
            </td>
            <td class="info">
              <%= r['creator'].first if r['creator'] %>
            </td>
            <td class="info">
              <% if r['id_inst'] and r['id_inst'].strip != "" %>
                  <%= link_to "Hollis", item_link(r['id_inst']), :target => "_blank" %>
              <% end %>
            </td>
            <td>
              <button id="recommend_<%= r['id'] %>">+</button>
              <script>
                  $("#recommend_<%= r['id'] %>").click(function() {
                      recommend_resource("<%= r['id'] %>");
                      window.location.reload();
                      return false;
                  })
              </script>
            </td>
            <td colspan="2"></td>
          </tr>
      <% end %>
    </table>
    <script type="text/javascript">
      $("#search_results_sort_by_title").click(function() {
          $("#start").val(0);
          $("#sort").val("title");
          $("#advanced_search_form").submit();
          return false;
      });
      $("#search_results_sort_by_creator").click(function() {
          $("#start").val(0);
          $("#sort").val("creator");
          $("#advanced_search_form").submit();
          return false;
      });
    </script>

<% end %>