<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#detailsAccordion").accordion({
            collapsible: false
        });
    });
    jQuery(document).ready(function() {
        $("#commentsAccordion").accordion({
            collapsible: false
        });
    });
</script>

<div id="padLeft">
  <div id="detailsAccordion" class="padAccordion">

    <h3 style="font-weight: bold;"><a href="#">Document Details</a></h3>

    <div>
      <p>
        <b>Title:</b>
        <br/>
        <%= @document.name %>
      </p>

      <p>
        <b>Owner:</b>
        <br/>
        <%= @document.owner.name %>
        <br/>
        <%= @document.owner.email %>
      </p>

      <p>
        <b>Created At:</b>
        <br/>
        <%= render :inline => format_datetime(@document.created_at, "mmm d, yyyy 'at' h:MM tt") %>
      </p>

      <p>
        <b>Updated At:</b>
        <br/>
        <%= render :inline => format_datetime(@document.updated_at, "mmm d, yyyy 'at' h:MM tt") %>
      </p>

      <p><%= link_to 'Manage this Document', @document %></p>
    </div>
  </div>
  <div id="commentsAccordion" class="padAccordion">
    <h3 style="font-weight: bold;"><a href="#">Comments</a></h3>

    <div>
      <% if @document.comments.empty? %>
          <p style="color:#999999">
            <em>No Comments</em>
          </p>
      <% else %>
          <%= render :partial => "comments/comment", :collection => @document.comments %>
      <% end %>
      <br/>
      <%= render :partial => "comments/form_dialog" %>
    </div>
  </div>
</div>