<div id="padLeft">
   <div id="choicesLeft">

    <h3 style="font-weight: bold;"><a href="#">Document Details</a></h3>

    <div>
      <p>
        <b>Name:</b>
        <%= @document.name %>
      </p>

      <p>
        <b>Owner:</b>
        <%= @document.owner.name %>
      </p>

      <p>
        <b>Created At:</b>
        <%= @document.created_at %>
      </p>

      <p>
        <b>Updated At:</b>
        <%= @document.updated_at %>
      </p>

      <p><%= link_to 'Manage this Document', @document %></p>
      <p><%= link_to 'Back to Dashboard', documents_path %></p>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Comments</a></h3>

    <div>
      <%= render :partial => "comments/comment", :collection => @document.comments %>
      <br/>
      <%= render :partial => "comments/form_dialog" %>
    </div>
  </div>
</div>