<script type="text/javascript" src="/js/jquery_ujs.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#choices").accordion({
            collapsible: true
        });
    });
</script>


<div id="padRight">
  <h1>Resources</h1>
  <br/>
  <div id="dragzone"></div>
  <div id="choices">

    <h3 style="font-weight: bold;"><a href="#">Document Details</a></h3>

    <div>
      <p>
        <b>Name:</b>
        <%= @document.name %>
      </p>

      <p>
        <b>Owner:</b>
        <%= @document.owner.name %>
      </p>

      <p>
        <b>Created At:</b>
        <%= @document.created_at %>
      </p>

      <p>
        <b>Updated At:</b>
        <%= @document.updated_at %>
      </p>

      <p><%= link_to 'Manage this Document', @document %></p>
      <p><%= link_to 'Back to Dashboard', documents_path %></p>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Search</a></h3>

    <div>
      <%= render :partial => "search/form" %>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Sources</a></h3>

    <div>
      <div id="active_sources">
        <%= render :partial => "resources/item", :collection => @document.active_sources, :locals => {:make_draggable => true, :class_name => 'active_source'} %>
      </div>
	    <div id="recommended_resources">
        <%= render :partial => "resources/item", :collection => @document.recommended_resources, :locals => {:make_draggable => true, :class_name => 'recommended_resource'} %>
	    </div>
        <br/>
        <%= render :partial => "resources/form_dialog" %>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Comments</a></h3>

    <div>
      <%= render :partial => "comments/comment", :collection => @document.comments %>
      <br/>
      <%= render :partial => "comments/form_dialog" %>
    </div>

  </div>
</div>
