<script type="text/javascript" src="/js/jquery_ujs.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#sourcesAccordion").accordion({
            collapsible: false
        });
        $("#searchAccordion").accordion({
            collapsible: false
        });
    });
</script>


<div id="padRight">
  <div id="dragzone"></div>

  <div id="searchAccordion" class="padAccordion">

    <h3 style="font-weight: bold;"><a href="#">Search Resources</a></h3>

    <div>
      <%= render :partial => "search/form" %>
    </div>

  </div>
  <div id="sourcesAccordion" class="padAccordion">
    <h3 style="font-weight: bold;"><a href="#">Sources</a></h3>

    <div>
      <div class="resource-legend">
        <span><span id="activeLegend"></span> Used <span id="inactiveLegend"></span> Not Used</span> |
        <%= render :partial => "resources/form_dialog" %> 
        <%= link_to content_tag(:span, 'Refresh Sources', :class => "ui-icon ui-icon-refresh"),
                    refresh_resources_document_path(@document),
                :style => "float:right",
                    :method => :post %>
      </div>
      <div id="active_sources">
        <%= render :partial => "resources/item", :collection => @document.active_sources, :locals => {:make_draggable => true, :class_name => 'active_source'} %>
      </div>
      <div id="recommended_resources">
        <%= render :partial => "resources/item", :collection => @document.recommended_resources, :locals => {:make_draggable => true, :class_name => 'recommended_resource'} %>
      </div>
      <br/>
    </div>
  </div>
</div>
