<script type="text/javascript" src="/js/jquery_ujs.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        $("#choices").accordion({
            collapsible: true
        });

        $('#search_form').bind('ajax:success', function(evt, data, status, xhr) {
            $('#search_results').html(xhr.responseText)
        });

        $('#search_form').bind('ajax:error', function(evt, xhr, status, error) {
            // todo
        });
    });
</script>


<div id="padRight">
  <h1>Resources</h1>
  <br/>

  <div id="choices">

    <h3 style="font-weight: bold;"><a href="#">Document Details</a></h3>

    <div>
      <p>
        <b>Name:</b>
        <%= @document.name %>
      </p>

      <p>
        <b>Owner:</b>
        <%= @document.owner.name %>
      </p>

      <p>
        <b>Created At:</b>
        <%= @document.created_at %>
      </p>

      <p>
        <b>Updated At:</b>
        <%= @document.updated_at %>
      </p>

      <td><%= link_to 'View Document', @document %></td>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Search</a></h3>

    <div>
      <%= form_tag('/search/search', :remote => true, :id => 'search_form', :method => :get, 'data-type' => 'html', :format => :html) do %>
          <%= text_field_tag :query, params[:query] %>
          <%= submit_tag "Go" %>
      <% end %>
      <div id="search_results"></div>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Recommendations</a></h3>

    <div>
      <%= render :partial => "resources/resource",
                 :collection => @document.recommended_resources %>
    </div>

    <h3 style="font-weight: bold;"><a href="#">Comments</a></h3>

    <div>
      <%= render :partial => "comments/comment",
                 :collection => @document.comments %>
    </div>

  </div>
</div>
