<% content_for :head do %>
  <!-- stylesheets -->
  <link href="/static/css/pad.css" rel="stylesheet" />
  <%= render :partial => 'pad_js'%>
  <%= javascript_include_tag '/js/jquery.contextmenu.js'%>
  <style type="text/css" title="dynamicsyntax"></style>

  <script type="text/javascript">

    $(function(){
	    setupDraggables();
      setupViewSources();
      setupActiveSourcesContextMenus();
    });

  function htmlDecode(value){
    return $('<div/>').html(value).text();
  }

	function setupDraggables(){
		$(".draggable").draggable({zIndex: 100, helper: 'clone', handle: "p", appendTo: 'body', iframeFix: true, start: startDrag });
	}
	function startDrag(event,ui){
      $(ui.helper).prepend('<div class="preDrag"></div>');
      $(this).data('draggable').offset.click.top += 124;
      setupDropzone();
    }

    function setupDropzone(){
	  var win = window.parent.frames[1].frames[0].window;
      var doc = window.parent.frames[1].frames[0].document;
      var innerdocbody = $(doc).find("#innerdocbody");
      var allmagic = innerdocbody.find('div[id^="magicdomid"]');
      allmagic.droppable({
	    hoverClass: 'custom-hover',
        drop: function(event, ui){
          var target = $(event.target);
          if(target.prev() != undefined && target.prev().attr("id") != undefined && target.prev().attr("id").match(/^magicdomid/)){
            target = target.prev();
          }
          var node = doc.getElementById(target.attr("id"));
          target.focus(function() {
            window.setTimeout(function() {
              setCursorPosition(0, node, doc, win);
            }, 0);
          });
          //create the new line after drop target
		  resource_id = ui.draggable.attr("id").replace("drag_resource_", "");
		  document_id = "<%= @document.id %>";
      setCitation(document_id, resource_id, target);
      return true;
        }
      });
    }

    function setCursorPosition(pos, node, doc, win){
        var sel, range;
        if (win.getSelection && doc.createRange) {
          range = doc.createRange();
          range.selectNode(node);
          range.setStart(node, pos);
          range.setEnd(node, pos);
          range.collapse(true);
          sel = win.getSelection();
          sel.removeAllRanges();
          sel.addRange(range);
        } else if (node.createTextRange) {
          range = node.createTextRange();
          range.collapse(true);
          range.select();
        }
    }
	
	function setCitation(document_id, resource_id, target){
		$.get("/documents/" + document_id + "/resources/" + resource_id + "/citation", function(data){
			var citation = data["citation"];
			target.after('<div>'+citation+'</div>');
      target.attr('tabindex', -1).focus();
      target.removeAttr('tabindex');
      setupContextMenus(document_id, resource_id, citation);
		}, 'json');
		$.post("/documents/"+document_id+"/resources/"+resource_id+"/activate", function(data){
			if(data.length > 0){
				$("#resource_"+resource_id).remove();
				$("#active_sources").append(data);
			}
			setupDraggables();
		})
	}

  function setupContextMenus(document_id, resource_id, citation){
    citation = htmlDecode(citation);
    var doc = window.parent.frames[1].frames[0].document;
    var innerdocbody = $(doc).find("#innerdocbody");
    var span = $('span:contains("'+citation+'")', innerdocbody);
    span.die('contextmenu');
    span.contextPopup({
      title: 'Citation:  ' + citation,
      items: [
        { label: 'View Resource', action: function(){
          viewResource(document_id, resource_id, citation);     
        }}
      ]
    });
  }

  function setupActiveSourcesContextMenus(){
    if(window.parent.frames[1] == undefined){
      window.setTimeout(function(){
        setupActiveSourcesContextMenus();
      }, 1);
    }else if(window.parent.frames[1].frames[0] == undefined){
      window.setTimeout(function(){
        setupActiveSourcesContextMenus();
      }, 1);
    }else if(window.parent.frames[1].frames[0].document == undefined){
      window.setTimeout(function(){
        setupActiveSourcesContextMenus();
      }, 1);
    }else{
      var document_id = "<%= @document.id %>";
      <% @document.active_sources.each do |active| %>
        <% active.citations.each do |cit| %>
          setupContextMenus(document_id, "<%= active.id %>", "<%= cit.citation_text %>");
        <% end %>
      <% end %>
    }
  }

  function viewResource(document_id, resource_id, title){
    $.get("/documents/" + document_id + "/resources/" + resource_id, function(data){
        $("#resource_citation_div").html(data);
        $("#resource_citation_div").dialog({
            autoOpen: false,
            title: title,
            height: 330,
            width: 330,
            modal: true,
            buttons: {
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });
        $("#resource_citation_div").dialog("open");
      });
  }
  function setupViewSources(){
    $(".active_source, .recommended_resource").live('click', function(e){
      target = $(e.target);
      item_id = target.attr("id").replace("item_", "");
      document_id = "<%= @document.id %>";
      title = target.text();
      viewResource(document_id, item_id, title);
    });
    
  }
  </script>

<% end %>

  <%= render :partial => 'pad_left'%>
  <%= render :partial => 'pad_middle'%>
  <%= render :partial => 'pad_right'%>
  <div id="resource_citation_div" style="display:none;"></div>
