<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @document.owner.name %>
</p>

<p>
  <b>Created At:</b>
  <%= @document.created_at %>
</p>

<p>
  <b>Updated At:</b>
  <%= @document.updated_at %>
</p>

<%= link_to 'View Pad', "/view_pad/#{@document.id}" %>

<hr/>

<h2>Recommended Resouces:</h2>
<%= render :partial => "resources/resource",
           :collection => @document.recommended_resources %>

<h2>Recommend a Resouce:</h2>
<%= render "resources/form" %>

<hr/>

<h2>Comments</h2>
<%= render :partial => "comments/comment",
           :collection => @document.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit Document', edit_document_path(@document) %> |
<%= link_to 'Back to Documents', documents_path %> |