<style>
    .dashboard_table th {
        text-align: left;
    }

    .dashboard_table .contributor_name {
        max-width: 50px;
    }

    #contributors {
        margin-left: 20px;
        width: 600px
    }
</style>

<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Owner:</b>
  <%= @document.owner.name %>
</p>

<p>
  <b>Created At:</b>
  <%= @document.created_at %>
</p>

<p>
  <b>Updated At:</b>
  <%= @document.updated_at %>
</p>

<p>
  <b>Contributors:</b>
</p>
<div id="contributors">
  <table class="dashboard_table">
    <% if @document.contributors.empty? %>
        <tr>
          <td class="empty">No Contributors</td>
        </tr>
    <% else %>
        <tr class="dashboard_divider">
          <td colspan="3"></td>
        </tr>
        <% @document.contributors.each do |contributor| %>
            <tr>
              <td class="document_name"><%= contributor.name %></td>
              <td class="document_owner"><%= contributor.email %></td>
              <td class="document_actions"><%= link_to 'Remove', remove_contributor_document_path(@document.id, contributor.id),
                                                       :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
            <tr class="dashboard_divider">
              <td colspan="3"></td>
            </tr>
        <% end %>
    <% end %>
  </table>

  <%= form_tag(add_contributor_document_path(@document.id)) do %>
      <%= text_field_tag :contributor_email, params[:contributor_email], :placeholder => "User Email Address", :size => 40 %>
      <%= submit_tag "Add Contributor" %>
  <% end %>
</div>
<hr/>

<%= link_to 'View Document', view_pad_path(@document) %> | <%= link_to 'Edit Details', edit_document_path(@document) %>

