<p>
  <b>Title:</b>
  <%= resource.title %>
</p>

<p>
  <b>Creators:</b>
<ul>
  <% for c in resource.creators %>
      <li><%= c %></li>
  <% end %>
</ul>
</p>

<p>
  <b>Publication date:</b>
  <%= resource.publication_date %>
</p>

<p>
  <b>Publisher:</b>
  <%= resource.publisher %>
</p>

<p>
  <b>ISBN:</b>
<ul>
  <% for c in resource.id_isbn %>
      <li><%= c %></li>
  <% end %>
</ul>
</p>

<p>
  <%= link_to 'Destroy Resource', [resource.document, resource],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>
