<style>
    .dashboard_table th {
        text-align: left;
    }

    .dashboard_table .action, .date {
        text-align: center;
    }
</style>
<p>
<h2>Pending Users</h2>

<% if @users.any? { |u| !u.approved? } %>
    <table class="dashboard_table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th></th>
        <th></th>
      </tr>

      <% @users.select { |u| !u.approved? }.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
            <td><%= u.created_at %></td>
            <td>
              <% unless u.approved? %>
                  <%= link_to 'Approve', admin_user_approve_path(u), :method => :post %>
              <% end %>
            </td>
            <td>
              <% if @user != current_user %>
                  <%= link_to 'Reject', admin_user_path(u), :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <span style="font-style: italic">There are no unapproved users</span>
<% end %>
</p>
<hr/>
<p>
<h2>Active Users</h2>
<table class="dashboard_table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created At</th>
    <th class="action">Admin</th>
    <th></th>
  </tr>

  <% @users.select { |u| u.approved? }.each do |u| %>
      <tr>
        <td><%= u.name %></td>
        <td><%= u.email %></td>
        <td><%= u.created_at %></td>
        <td class="action">
          <% if u.admin? %>
              <% if u != current_user %>
                  <%= link_to 'Remove', admin_user_demote_path(u), :method => :post %>
              <% end %>
          <% else %>
              <%= link_to 'Add', admin_user_promote_path(u), :method => :post %>
          <% end %>
        </td>
        <td class="action">
          <% if u != current_user %>
              <%= link_to 'Delete', admin_user_path(u), :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
</p>