<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/static/css/custom-theme1/jquery-ui-1.8.16.custom.css" %>
  <%= csrf_meta_tags %>
</head>
<body id="loginPage">
<div id="mainContent">
  <%= yield %>
</div>
</body>
</html>
