<div id="leftcol_accordian">
  <% if user_signed_in? %>
      <h3><a href="#">Settings</a></h3>

      <div>
        <%= link_to 'Edit Account', edit_registration_path(current_user) %>
        <br/>
        <a href="#">Edit Preferences</a><br/>
        <% if current_user.admin? %>
            <%= link_to "Manage Users", admin_users_path %>
            <br/>
        <% end %>
      </div>
  <% end %>
  <h3><a href="#">Help</a></h3>

  <div>
    <%= link_to "Getting Started", help_getting_started_path %>
    <br/>
    <%= link_to "Sharing Documents", help_sharing_documents_path %>
    <br/>
    <%= link_to "Finding Resources", help_finding_resources_path %>
    <br/>
    <%= link_to "Citing Resources", help_citing_resources_path %>
    <br/>
  </div>
</div>