<style>
      #top {
          background-color: #798080;
          float: left;
          line-height: 36px;
          height: 45px;
          min-height: 45px;
      }

      #top .location {
          font-size: 9pt;
          float: inherit;
          text-align: left;
          width: 25%;
          margin: 0 0 0 10px;
          color: white;
      }

      #top .location a {
          color: white;
      }

      #top .logo {
          float: inherit;
          text-align: center;
          width: 50%;
          vertical-align: middle;
      }

      #top .logo img {
          vertical-align: middle;
      }

      #top .user_actions {
          float: right;
          font-size: 9pt;
          text-align: right;
          vertical-align: middle;
          width: auto;
          margin: 0 10px 0 0;
          color: white;
      }

      #top .user_actions a {
          color: white;
      }

      #top .user_actions a:hover {
          color: white;
          background-color: transparent;
      }

      #top .divider {
          clear: both;
          background-color: #464646;
          width: 100%;
          height: 6px;
      }
</style>

<div id="top">
  <div class="location">
    <%= link_to "Dashboard", documents_path %>
  </div>
  <div class="logo">
    <img src="/static/img/logo_white.png">
  </div>
  <div class="user_actions">
    <% if user_signed_in? %>
        Hi, <%= current_user.name %>
        |
        <%= link_to('Logout', destroy_user_session_path) %>
    <% else %>
        <%= link_to('Sign Up', new_user_registration_path) %>
        |
        <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </div>
  <div class="divider"></div>
</div>