<style>
</style>

<div id="top">
  <div class="location">
    <%= link_to "Dashboard", documents_path %>
  </div>
  <div class="logo">
    <img src="/static/img/logo_white.png">
  </div>
  <div class="user_actions">
    <% if user_signed_in? %>
        Hi, <%= current_user.name %>
        |
        <%= link_to 'Account', edit_registration_path(current_user) %>
        |
        <a href="#">Help</a>
        |
        <%= link_to('Logout', destroy_user_session_path) %>
    <% else %>
        <%= link_to('Sign Up', new_user_registration_path) %>
        |
        <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </div>
  <div class="divider"></div>
</div>