<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/static/css/custom-theme1/jquery-ui-1.8.16.custom.css" %>
  <%= csrf_meta_tags %>

  <style>

      * {
          font-family: Helvetica;
      }

      body {
          margin: 0;
          /*height: 92%;*/
      }

      h2 {
          font-size: 14px;
          font-weight: lighter;
          color: gray;
      }

      #mainContent {
          clear: both;
          float: left;
          width: 100%;
          height: 100%;
      }

      #mainContent .leftcol {
          float: inherit;
          height: 100%;
          width: 200px;
          background-color: #E1E8E8;
      }

      #mainContent .leftcol #leftcol_accordian {
          margin: 10px;
          width: 180px;
      }

      #mainContent .leftcol #leftcol_accordian a {
          font-size: 11pt;
      }

      #mainContent .leftcol #leftcol_accordian div {
          margin: 0;
          height: 250px;
      }

      #mainContent .leftcol #leftcol_accordian div a {
          font-size: 10pt;
      }

      #mainContent .primary {
          float: none;
          clear: right;
          height: 100%;
          width: 70%;
          margin: 15px 15px 15px 215px;
      }

      .dashboard_table {
          width: 100%;
          border-spacing: 0;
          margin: 0 0 10px 0;
      }

      .dashboard_table .dashboard_divider {
          border-spacing: 0;
      }

      .dashboard_table .dashboard_divider td {
          border-spacing: 0;
          border-top: thin solid black;
      }

      .dashboard_table .document_name a {
          font: Helvetica;
          font-size: 18px;
          font-weight: normal;
          color: black;
          text-decoration: none;
          margin: 10px;
          line-height: 30px;
      }

      .dashboard_table .document_name a:hover {
          font: Helvetica;
          font-size: 18px;
          font-weight: normal;
          color: #388EB4;
          text-decoration: none;
          background: transparent;
      }

      .dashboard_table .document_created {
          text-align: center;
          font-size: 12px;
          font-weight: lighter;
          color: #999999;
          text-decoration: none;
          margin: 10px;
          line-height: 30px;
          width: 170px;
      }

      .dashboard_table .document_owner {
          font-size: 14px;
          font-weight: normal;
          font-style: italic;
          color: black;
          text-decoration: none;
          margin: 10px;
          line-height: 30px;
          width: 150px;
          text-align: center;
      }

      .dashboard_table .document_actions {
          width: 50px;
          text-align: center;
      }

      .dashboard_table .document_actions a {
          color: #888888;
          font-size: 10pt;
      }

      .dashboard_table .document_actions a:hover {
          color: #388EB4;
          background: transparent;
      }

      #new_document_link {
          width: 100%;
          text-align: center;
          margin: 0 0 30px 0;
      }

      #new_document_link a {
          color: #888888;
          font-size: 10pt;
      }

      #new_document_link a:hover {
          color: #388EB4;
          background: transparent;
      }

      .ui-state-hover a, .ui-state-hover a:hover {
          background: transparent
      }
  </style>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          $("#leftcol_accordian").accordion({
              collapsible: false
          });
      });
  </script>
</head>
<body>
<%= render :partial => 'layouts/top' %>
<div id="mainContent">
  <div class="leftcol">
    <div id="leftcol_accordian">
    <% if user_signed_in? %>
      <h3><a href="#">Settings</a></h3>

      <div>
        <%= link_to 'Edit Account', edit_registration_path(current_user) %><br/>
        <a href="#">Edit Preferences</a><br/>
      </div>
    <% end %>
      <h3><a href="#">Help</a></h3>

      <div>
        <a href="#">How does the editor work?</a><br/>
        <a href="#">How can I search for resources?</a><br/>
        <a href="#">How can I cite resources?</a><br/>
      </div>
    </div>
  </div>
  <div class="primary">
    <p class="notice"><%= notice %></p>

    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
