<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/js/date.format.js"></script>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/static/css/custom-theme1/jquery-ui-1.8.16.custom.css" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          $("#leftcol_accordian").accordion({
              collapsible: false
          });
      });
  </script>
</head>
<body>
<%= render :partial => 'layouts/top' %>
<div id="mainContent">
  <div class="leftcol">
    <%= render :partial => 'layouts/navigation' %>
  </div>
  <div class="primary">
    <%= render :inline => flash_helper %>
    <%= yield %>
  </div>
</div>
</body>
</html>
