<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/static/css/custom-theme1/jquery-ui-1.8.16.custom.css" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      jQuery(document).ready(function() {
          $("#leftcol_accordian").accordion({
              collapsible: false
          });
      });
  </script>
</head>
<body>
<%= render :partial => 'layouts/top' %>
<div id="mainContent">
  <div class="leftcol">
    <div id="leftcol_accordian">
      <% if user_signed_in? %>
          <h3><a href="#">Settings</a></h3>

          <div>
            <%= link_to 'Edit Account', edit_registration_path(current_user) %>
            <br/>
            <a href="#">Edit Preferences</a><br/>
          </div>
      <% end %>
      <h3><a href="#">Help</a></h3>

      <div>
        <a href="#">How does the editor work?</a><br/>
        <a href="#">How can I search for resources?</a><br/>
        <a href="#">How can I cite resources?</a><br/>
      </div>
    </div>
  </div>
  <div class="primary">
    <%= render :inline => flash_helper %>
    <%= yield %>
  </div>
</div>
</body>
</html>
