<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "/static/css/custom-theme1/jquery-ui-1.8.16.custom.css" %>
  <%= csrf_meta_tags %>
  <style>
      * {
          overflow: hidden;
      }

      a.recommended_resource {

      }

      a.active_source {
          color: #993300;
      }

      #activeLegend {
          display: inline-block;
          height: 10px;
          width: 10px;
          min-height: 10px;
          min-width: 10px;
          border: #000000;
          background-color: #993300;
      }

      #inactiveLegend {
          display: inline-block;
          height: 10px;
          width: 10px;
          min-height: 10px;
          min-width: 10px;
          border: #000000;
          background-color: #000000;
      }

      #padLeft, #padRight {
          height: 100%;
          width: 20%;
          background-color: #E1E8E8;
          overflow: auto;
      }

      #padMiddle {
          width: 60%;
      }

      #borderContainer, #leftRightContainer {
          height: 100%;
      }

      #chaticon, #editorcontainerbox, #chatbox {
          bottom: 45px;
      }

      .padAccordion {
          margin: 10px;
          width: auto;
      }

      #detailsAccordion .ui-accordion-content {
          height: auto;
      }

      #searchAccordion .ui-accordion-content {
          height: 50px;
      }

      #sourcesAccordion .ui-accordion-content {
          height: 500px; /* we'll have to resize this with js if we want it to exand and contract with the window */
          overflow-y: auto;
          padding-left: 0;
          padding-right: 0;
      }

      #commentsAccordion .ui-accordion-content {
          height: 410px; /* we'll have to resize this with js if we want it to exand and contract with the window */
          overflow-y: auto;
          padding-left: 15px;
          padding-right: 30px;
      }

      #commentsAccordion .comment_item {
          clear: both;
          margin: 0 0 5px 0;
      }

      #commentsAccordion .comment_divider {
          margin-bottom: 15px;
      }

      #commentsAccordion .comment_date {
          width: 170px;
          float: left;
          color: #999999;
      }

      #commentsAccordion .comment_delete {
          width: 16px;
          float: left;
      }

      #commentsAccordion .comment_text {
          margin: 0 0 5px 10px
      }

      #commentsAccordion .comment_header {
          margin-bottom: 5px;
      }

      #commentsAccordion .comment_author {
          color: #388EB4;
      }

      #sourcesAccordion .resource_item {
          font-size: 10pt;
      }

      .resource-legend {
          color: #888888;
      }

      .resource-legend a:hover {
          color: #388EB4;
      }

      #sourcesAccordion .resource_item, .resource-legend {
          margin-left: 24px;
          margin-right: 24px;
      }

      #searchAccordion .ui-accordion-header {
          background: #839668;
      }

      #sourcesAccordion .ui-accordion-header {
          background: #BA745C;
      }
  </style>
</head>
<body>
<%= render :partial => 'layouts/top' %>
<div id="main">
  <div id="mainContent">
    <%= yield %>
  </div>
</div>

</body>
</html>
