<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top">
    <% if user_signed_in? %>
  	  <li>
	  <%= link_to('Logout', destroy_user_session_path) %>
	  </li>
	<% else %>
	  <li>
	  <%= link_to('Sign Up', new_user_registration_path)  %>
	  </li>
	  <li>
	  <%= link_to('Login', new_user_session_path)  %>
	  </li>
	<% end %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>
<div id="mainContent">
<%= yield %>
</div>

</body>
</html>
