<!DOCTYPE html>
<html>
<head>
  <title>ConnectedScholar</title>
  <%= yield :head %>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css" %>
  <%= csrf_meta_tags %>
  <style>
    

	a.recommended_resource {
	  
	}

	a.active_source { 
	  color: #993300;
}
  </style>
</head>
<body>
<div id="main">
  <div id="mainContent">
    <%= yield %>
  </div>
</div>

</body>
</html>
